<div class="container">
    <div [hidden]="submitted">
      <h1 style="margin-bottom:20px;">Send a Friend Request!</h1>
      <form (ngSubmit)="onSubmit()" #heroForm="ngForm">
        <div class="form-group" style="margin-bottom:20px;">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name"
                 required
                 [(ngModel)]="model.name" name="name"
                 #name="ngModel">
          <div [hidden]="name.valid || name.pristine"
               class="alert alert-danger">
            Name is required
          </div>
        </div>

        <div class="form-group" style="margin-bottom:20px;">
            <label for="email">My Email</label>
            <input type="text" class="form-control" id="email"
                   [(ngModel)]="model.email" name="email">
          </div>
  
        <div class="form-group" style="margin-bottom:20px;">
          <label for="f_name">Friend's Name</label>
          <input type="text" class="form-control" id="f_name"
                 [(ngModel)]="model.f_name" name="f_name">
            <div [hidden]="name.valid || name.pristine"
                 class="alert alert-danger">
              Friend's name is required
            </div>
        </div>
        
        <div class="form-group" style="margin-bottom:20px;">
            <label for="f_email">Friend's Email</label>
            <input type="text" class="form-control" id="f_email"
                   [(ngModel)]="model.f_email" name="f_email">
          </div>

        <div class="form-group" style="margin-bottom:20px;">
            <label for="message">Message for Friend</label>
            <input type="textarea" class="form-control" id="message"
                   [(ngModel)]="model.message" name="message">
        </div>
  
        <!-- all the buttons -->
        
        <button type="submit" class="btn btn-success" [disabled]="!heroForm.form.valid">Submit</button>
        <button type="button" class="btn btn-default" (click)="newFriend(); heroForm.reset()">New Friend Request (<i>resets form</i>)</button>
        <p *ngIf="!heroForm.form.valid" [ngStyle]="{color: 'red'}"> Please enter in all values</p>
      </form>
    </div>
  
    <div [hidden]="!submitted">
      <h2>You submitted the following:</h2>
      <div class="row">
        <div class="col-xs-3"><b>Name</b></div>
        <div class="col-xs-9">{{ model.name }}</div>
      </div>
      <div class="row">
        <div class="col-xs-3"><b>Email</b></div>
        <div class="col-xs-9">{{ model.email }}</div>
      </div>
      <div class="row">
        <div class="col-xs-3"><b>Friend's Name</b></div>
        <div class="col-xs-9">{{ model.f_name }}</div>
      </div>
      <div class="row">
        <div class="col-xs-3"><b>Friend's Email</b></div>
        <div class="col-xs-9">{{ model.f_email }}</div>
      </div>
      <div class="row">
        <div class="col-xs-3"><b>Message</b></div>
        <div class="col-xs-9">{{ model.message }}</div>
      </div>
      <br>
      <!-- more buttons -->
      <button class="btn btn-primary" (click)="submitted=false">Edit</button>
      <button class="btn btn-default" ><a [href]="'mailto:'+
                                                  model.f_email+
                                                  '?subject=Friend Request to: '+
                                                  model.f_name+
                                                  '&body='+
                                                  model.message" 
                                                  target="_blank">Send an Email!</a></button>
    </div>
  </div>
  
  <script>
    var sendEmail=function(){
      console.log("hello world");
      if (document.getElementById("name").value != "" && document.getElementById("subject").value != "" &&
      document.getElementById("message").value != "") {
          var name = document.getElementById("name").value;
          var subject = "hello" + document.getElementById("f_name").value;
          var f_email = document.getElementById("f_email").value;
          var message = document.getElementById("message").value;
          window.open('mailto:'+encodeURIComponent(f_email)+'?subject='+encodeURIComponent(subject)+"&body="+encodeURIComponent(message), '_blank');

          alert("You will now be redirected to send your email.");
      }
      else{
          alert("Please fill out the form.");
      }
  }
  </script>