<div class="container">
    <div [hidden]="submitted">
      <h1 style="margin-bottom:20px;">Send a Friend Request!</h1>
      <form (ngSubmit)="onSubmit()" #heroForm="ngForm">
        <div class="form-group" style="margin-bottom:20px;" [ngClass]="heroForm.form.valid ? 'input-success' : 'input-error'">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name" required
                 [(ngModel)]="model.name" name="name"
                 #name="ngModel">
          <!-- <div [hidden]="name.valid || name.pristine"
               class="alert alert-danger">
            Name is required
          </div> -->
          <div *ngIf="!name.valid"> Name is required</div>
            <div *ngIf="name.valid"> ✔ </div>
        </div>

        <div class="form-group" style="margin-bottom:20px;" [ngClass]="heroForm.form.valid ? 'input-success' : 'input-error'">
            <label for="email">My Email</label>
            <input type="text" class="form-control" id="email"
                   [(ngModel)]="model.email" name="email"
                   #email="ngModel">
          <div *ngIf="!email.valid"> Please enter Your Email</div>
          <div *ngIf="email.valid"> ✔ </div>
          </div>
  
        <div class="form-group" style="margin-bottom:20px;" [ngClass]="heroForm.form.valid ? 'input-success' : 'input-error'">
          <label for="f_name">Friend's Name</label>
          <input type="text" class="form-control" id="f_name"
                 [(ngModel)]="model.f_name" name="f_name"
                 #f_name="ngModel">
            <!-- <div [hidden]="f_name.valid || f_name.pristine"
                 class="alert alert-danger">
              Friend's name is required
            </div> -->
            <div *ngIf="!f_name.valid"> Please enter Friend's Name</div>
            <div *ngIf="f_name.valid"> ✔ </div>
        </div>
        
        <div class="form-group" style="margin-bottom:20px;" [ngClass]="heroForm.form.valid ? 'input-success' : 'input-error'">
            <label for="f_email">Friend's Email</label>
            <input type="text" class="form-control" id="f_email"
                   [(ngModel)]="model.f_email" name="f_email"
                   #f_email="ngModel">
            <!-- <div [hidden]="f_email.valid || f_email.pristine"
                  class="alert alert-danger">
                  Friend's email is required
                  </div> -->
            <div *ngIf="!f_email.valid"> Please enter Friend's Email</div>
            <div *ngIf="f_email.valid"> ✔ </div>
          </div>

        <div class="form-group" style="margin-bottom:20px;" [ngClass]="heroForm.form.valid ? 'input-success' : 'input-error'">
            <label for="message">Message for Friend</label>
            <input type="textarea" class="form-control" id="message"
                   [(ngModel)]="model.message" name="message"
                   #message="ngModel">
            <!-- <div [hidden]="message.valid || message.pristine"
                  class="alert alert-danger">
                  Message is required
                </div> -->
                <div *ngIf="!message.valid"> Please enter Your Message</div>
                <div *ngIf="message.valid"> ✔ </div>
        </div>
  
        <!-- all the buttons -->
        <button type="submit" class="btn btn-success" [disabled]="!heroForm.form.valid">Submit</button>
        <button type="button" class="btn btn-default" (click)="newFriend(); heroForm.reset()">New Friend Request (<i>resets form</i>)</button>
        <p *ngIf="!heroForm.form.valid" [ngStyle]="{color: 'red'}"> Please enter in all values</p>
      </form>
    </div>
  
    <div [hidden]="!submitted">
      <h2>You submitted the following:</h2>
      <div class="row">
        <div class="col-xs-3"><b>Name</b></div>
        <div class="col-xs-9">{{ model.name }}</div>
      </div>
      <div class="row">
        <div class="col-xs-3"><b>Email</b></div>
        <div class="col-xs-9">{{ model.email }}</div>
      </div>
      <div class="row">
        <div class="col-xs-3"><b>Friend's Name</b></div>
        <div class="col-xs-9">{{ model.f_name }}</div>
      </div>
      <div class="row">
        <div class="col-xs-3"><b>Friend's Email</b></div>
        <div class="col-xs-9">{{ model.f_email }}</div>
      </div>
      <div class="row">
        <div class="col-xs-3"><b>Message</b></div>
        <div class="col-xs-9">{{ model.message }}</div>
      </div>
      <br>
      <!-- more buttons -->
      <button class="btn btn-primary" (click)="submitted=false">Edit</button>
      <button class="btn btn-default" ><a [href]="'mailto:'+
                                                  model.f_email+
                                                  '?subject=Friend Request to: '+
                                                  model.f_name+
                                                  '&body='+
                                                  model.message" 
                                                  target="_blank">Send an Email!</a></button>
    </div>
  </div>
  
  <script>
    var sendEmail=function(){
      console.log("hello world");
      if (document.getElementById("name").value != "" && document.getElementById("subject").value != "" &&
      document.getElementById("message").value != "") {
          var name = document.getElementById("name").value;
          var subject = "hello" + document.getElementById("f_name").value;
          var f_email = document.getElementById("f_email").value;
          var message = document.getElementById("message").value;
          window.open('mailto:'+encodeURIComponent(f_email)+'?subject='+encodeURIComponent(subject)+"&body="+encodeURIComponent(message), '_blank');

          alert("You will now be redirected to send your email.");
      }
      else{
          alert("Please fill out the form.");
      }
  }
  </script>